### Silver Gold Prices

####  What is the correlation in Gold and Silver prices for the years 2008(nearest two decimal places )?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("EDA_Gold_Silver_prices.csv")
df.head()

    Month  SilverPrice  GoldPrice
0  Mar-97       186.48   12619.24
1  Apr-97       170.65   12338.59
2  May-97       170.44   12314.94
3  Jun-97       169.96   12202.78
4  Jul-97       155.80   11582.07

#### What is the correlation in Gold and Silver prices for the years 2008(nearest two decimal places )?

In [3]:
df['year'] = df['Month'].str.split('-').str[-1]

In [4]:
df.head()

    Month  SilverPrice  GoldPrice year
0  Mar-97       186.48   12619.24   97
1  Apr-97       170.65   12338.59   97
2  May-97       170.44   12314.94   97
3  Jun-97       169.96   12202.78   97
4  Jul-97       155.80   11582.07   97

In [5]:
df2 = df[df['year']=='08']

In [9]:
df2.head(12)

      Month  SilverPrice  GoldPrice year
130  Jan-08       632.29   35025.78   08
131  Feb-08       701.87   36642.46   08
132  Mar-08       775.49   39082.77   08
133  Apr-08       700.96   36416.00   08
134  May-08       718.20   37435.38   08
135  Jun-08       729.63   38087.88   08
136  Jul-08       773.80   40256.56   08
137  Aug-08       625.97   36026.85   08
138  Sep-08       555.58   37815.02   08
139  Oct-08       507.20   39235.79   08
140  Nov-08       483.55   37284.82   08
141  Dec-08       501.82   39696.27   08

In [10]:
df2['SilverPrice'].corr(df2['GoldPrice'])

0.009583757463369393

#### What is the correlation in Gold and Silver prices (round off the answer to two decimal places)? Also, enter a fraction, not a percentage (e.g. 0.34, not 34.00%).

In [11]:
df['SilverPrice'].corr(df['GoldPrice'])

0.9542559570539775