In [ ]:
print("This is my first line of code in python")

In [ ]:
print("Hello\nThis is in the next line")

In [28]:
a = 6
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

13
-1
42
0.8571428571428571
0
6
279936

In [ ]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

In [ ]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

In [ ]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

In [ ]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

In [ ]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

In [ ]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

In [ ]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

In [ ]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

In [4]:
val = "2 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [7]:
what = val[2:]
print(what)

apples

In [ ]:
#slicing by specifying start and end index
print(val[2:5])

In [8]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [9]:
print(batch[ :-2])

5 oranges 3 monkeys

In [10]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [14]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [19]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [20]:
odd_nums_again = nums[ :: 2]

In [22]:
first_name = "Monty"
last_name = 'Python'

In [23]:
name = first_name + " " + last_name
print(name)

Monty Python

In [24]:
age = 30
my_age = ("I am "+ str(age) + " years old")

In [25]:
My_age = "I am {0} years old".format(age)

In [26]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [27]:
#concat and update
name += ' ' + my_age
print(name)

Monty Python I am 30 years old