In [13]:
import pandas as pd
companies = pd.read_csv('companies.csv',encoding='ISO-8859-1')

In [18]:
companies.permalink = companies.permalink.str.encode('ISO-8859-1').str.decode('ascii', 'ignore')

In [19]:
companies.name = companies.name.str.encode('ISO-8859-1').str.decode('ascii', 'ignore')

In [20]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [22]:

rounds2 = pd.read_csv('rounds2.csv',encoding='ISO-8859-1')
rounds2.company_permalink = rounds2.company_permalink.str.encode('ISO-8859-1').str.decode('ascii', 'ignore')
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [23]:

#How many unique companies are present in rounds2?
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()
print(len(rounds2['company_permalink'].unique()))

66368

In [24]:

# How many unique companies are present in companies?
companies['permalink'] = companies['permalink'].str.lower()
print(len(companies['permalink'].unique()))

66368

In [25]:

#Are there any companies in the rounds2 file which are not present in companies?
temp1 = pd.DataFrame(rounds2.company_permalink.unique())
temp2 = pd.DataFrame(companies.permalink.unique())
print(temp2.equals(temp1))

False

In [26]:

set(companies['permalink'].unique()).difference(set(rounds2['company_permalink'].unique()))

{'/organization/th-gii-di-{ng'}

In [27]:

#Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame. Name the merged frame master_frame.
master_frame = pd.merge(rounds2, companies, how = 'left', left_on = 'company_permalink', right_on = 'permalink')
print(len(master_frame.index))

114949

In [28]:


# Inspecting the Null values , column-wise
master_frame.isnull().sum(axis=0)

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
permalink                      1
name                           2
homepage_url                6135
category_list               3410
status                         1
country_code                8679
state_code                 10946
region                     10168
city                       10165
founded_at                 20520
dtype: int64

In [29]:

#Inspecting the Null values percentage , column-wise
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2))

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.85
city                        8.84
founded_at                 17.85
dtype: float64

In [30]:

# Dropping unnecessary columns
master_frame = master_frame.drop(['funding_round_code', 'funding_round_permalink', 'funded_at','permalink', 'homepage_url',
                                 'state_code', 'region', 'city', 'founded_at','status'], axis = 1)

In [31]:

#Inspecting the Null values percentage again after deletion, column-wise
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2))

company_permalink      0.00
funding_round_type     0.00
raised_amount_usd     17.39
name                   0.00
category_list          2.97
country_code           7.55
dtype: float64

In [32]:

#Dropping rows based on null columns
master_frame = master_frame[~(master_frame['raised_amount_usd'].isnull() | master_frame['country_code'].isnull() |
                             master_frame['category_list'].isnull())]

In [33]:


## Task 2: Funding Type Analysis
#Observing the unique funding_round_type
print(master_frame.funding_round_type.value_counts())

venture                  47809
seed                     21095
debt_financing            6506
angel                     4400
grant                     1939
private_equity            1820
undisclosed               1345
convertible_note          1320
equity_crowdfunding       1128
post_ipo_equity            598
product_crowdfunding       330
post_ipo_debt              151
non_equity_assistance       60
secondary_market            28
Name: funding_round_type, dtype: int64

In [34]:

#Retaining the rows with only four investment types
## 1,2,3,4
master_frame = master_frame[(master_frame['funding_round_type'] == 'venture')
                            | (master_frame['funding_round_type'] == 'seed')
                            | (master_frame['funding_round_type'] == 'angel')
                            | (master_frame['funding_round_type'] == 'private_equity')]
print(master_frame.head())

                     company_permalink funding_round_type  raised_amount_usd  \
0                  /organization/-fame            venture         10000000.0
2               /organization/-qounter               seed           700000.0
4                /organization/0-6-com            venture          2000000.0
7  /organization/0ndine-biomedical-inc               seed            43360.0
8  /organization/0ndine-biomedical-inc            venture           719491.0

                     name                                      category_list  \
0                   #fame                                              Media
2                :Qounter  Application Platforms|Real Time|Social Network...
4                 0-6.com                                        Curated Web
7  Ondine Biomedical Inc.                                      Biotechnology
8  Ondine Biomedical Inc.                                      Biotechnology

  country_code
0          IND
2          USA
4          CHN
7          CAN
8          CAN

In [35]:


#Converting $ to million $.
master_frame['raised_amount_usd'] = master_frame['raised_amount_usd']/1000000
print(master_frame.head())

                     company_permalink funding_round_type  raised_amount_usd  \
0                  /organization/-fame            venture          10.000000
2               /organization/-qounter               seed           0.700000
4                /organization/0-6-com            venture           2.000000
7  /organization/0ndine-biomedical-inc               seed           0.043360
8  /organization/0ndine-biomedical-inc            venture           0.719491

                     name                                      category_list  \
0                   #fame                                              Media
2                :Qounter  Application Platforms|Real Time|Social Network...
4                 0-6.com                                        Curated Web
7  Ondine Biomedical Inc.                                      Biotechnology
8  Ondine Biomedical Inc.                                      Biotechnology

  country_code
0          IND
2          USA
4          CHN
7          CAN
8          CAN

In [36]:
#calculating average investment amount for each of the four funding types.
print(round(master_frame.groupby('funding_round_type').raised_amount_usd.mean(), 2))

funding_round_type
angel              0.97
private_equity    73.94
seed               0.75
venture           11.72
Name: raised_amount_usd, dtype: float64

In [37]:



#Retaining rows with only venture type. As Spark Funds wants to invest between 5 to 15 million USD per investment round
master_frame = master_frame[master_frame['funding_round_type'] == 'venture']

In [38]:

#Dropping the column 'funding_round_type' as it is going to be venture type this point forward
master_frame = master_frame.drop(['funding_round_type'], axis = 1)
print(master_frame)

                                        company_permalink  raised_amount_usd  \
0                                     /organization/-fame          10.000000
4                                   /organization/0-6-com           2.000000
8                     /organization/0ndine-biomedical-inc           0.719491
10                                   /organization/0xdata          20.000000
11                                   /organization/0xdata           1.700000
...                                                   ...                ...
114931                     /organization/zyraz-technology           7.991547
114934                                /organization/zyrra           0.140500
114936                               /organization/zystor           8.500000
114937                           /organization/zytoprotec           2.686600
114941  /organization/zznode-science-and-technology-co...           1.587301

                                 name        category_list country_code
0                               #fame                Media          IND
4                             0-6.com          Curated Web          CHN
8              Ondine Biomedical Inc.        Biotechnology          CAN
10                             H2O.ai            Analytics          USA
11                             H2O.ai            Analytics          USA
...                               ...                  ...          ...
114931               Zyraz Technology        Biotechnology          MYS
114934                          Zyrra           E-Commerce          USA
114936                         Zystor        Biotechnology          USA
114937                     Zytoprotec        Biotechnology          AUT
114941  ZZNode Science and Technology  Enterprise Software          CHN

[47809 rows x 5 columns]

In [39]:


## Task 3: Country Analysis
#top 9 countries
top9 = master_frame.pivot_table(values = 'raised_amount_usd', index = 'country_code', aggfunc = 'sum')
top9 = top9.sort_values(by = 'raised_amount_usd', ascending = False)
top9 = top9.iloc[:9, ]
print(top9)

              raised_amount_usd
country_code
USA               420067.869342
CHN                39338.918773
GBR                20072.813004
IND                14261.508718
CAN                 9482.217668
FRA                 7226.851352
ISR                 6854.350477
DEU                 6269.862533
JPN                 3167.647127

In [40]:

#Retaining rows with only USA, GBR and IND country_codes. As SparksFunds wants to invest in only top three English speaking countries.
master_frame = master_frame[(master_frame['country_code'] == 'USA')
                            | (master_frame['country_code'] == 'GBR')
                            | (master_frame['country_code'] == 'IND')]

In [41]:

## Task 4: Sector Analysis 1

# Subtask 4.1: Extract the primary sector of each category
#Extracting the primary vector value
master_frame['category_list'] = master_frame['category_list'].apply(lambda x: x.split('|')[0])

In [42]:

# Subtask 4.2: Map each primary sector to one of the eight main sectors
#Reading mapping.csv file
mapping = pd.read_csv('mapping.csv')
mapping.category_list = mapping.category_list.replace({'0':'na', '2.na' :'2.0'}, regex=True)
print(mapping.head())

   category_list  Automotive & Sports  Blanks  Cleantech / Semiconductors  \
0            NaN                    0       1                           0
1             3D                    0       0                           0
2    3D Printing                    0       0                           0
3  3D Technology                    0       0                           0
4     Accounting                    0       0                           0

   Entertainment  Health  Manufacturing  News, Search and Messaging  Others  \
0              0       0              0                           0       0
1              0       0              1                           0       0
2              0       0              1                           0       0
3              0       0              1                           0       0
4              0       0              0                           0       0

   Social, Finance, Analytics, Advertising
0                                        0
1                                        0
2                                        0
3                                        0
4                                        1

In [43]:

#Reshaping the mapping dataframe to merge with the master_frame dataframe. Using melt() function to unpivot the table.
mapping = pd.melt(mapping, id_vars =['category_list'], value_vars =['Manufacturing','Automotive & Sports',
                                                              'Cleantech / Semiconductors','Entertainment',
                                                             'Health','News, Search and Messaging','Others',
                                                             'Social, Finance, Analytics, Advertising'])

In [44]:

mapping = mapping[~(mapping.value == 0)]
mapping = mapping.drop('value', axis = 1)
mapping = mapping.rename(columns = {"variable":"main_sector"})
print(mapping.head())

         category_list    main_sector
1                   3D  Manufacturing
2          3D Printing  Manufacturing
3        3D Technology  Manufacturing
7   Advanced Materials  Manufacturing
15         Agriculture  Manufacturing

In [45]:


master_frame = master_frame.merge(mapping, how = 'left', on ='category_list')
print(master_frame.head())

            company_permalink  raised_amount_usd          name category_list  \
0         /organization/-fame               10.0         #fame         Media
1        /organization/0xdata               20.0        H2O.ai     Analytics
2        /organization/0xdata                1.7        H2O.ai     Analytics
3        /organization/0xdata                8.9        H2O.ai     Analytics
4  /organization/1-mainstream                5.0  1 Mainstream          Apps

  country_code                              main_sector
0          IND                            Entertainment
1          USA  Social, Finance, Analytics, Advertising
2          USA  Social, Finance, Analytics, Advertising
3          USA  Social, Finance, Analytics, Advertising
4          USA               News, Search and Messaging

In [46]:
#List of primary sectors which have no main sectors in the master_frame
print(master_frame[master_frame.main_sector.isnull()].category_list.unique())

['Nanotechnology' 'Natural Gas Uses' 'Natural Language Processing'
 'Enterprise 2.0' 'Adaptive Equipment' 'Racing' 'Specialty Retail'
 'Biotechnology and Semiconductor' 'Rapidly Expanding' 'Navigation'
 'Product Search' 'GreenTech' 'Retirement']

In [47]:


#Number of rows with NaN masin_sector value
print(len(master_frame[master_frame.main_sector.isnull()]))

165

In [48]:
#Retaining the rows which have main_sector values
master_frame = master_frame[~(master_frame.main_sector.isnull())]
print(len(master_frame.index))

38637

In [71]:

## Task 5: Sector Analysis 2

# Subtask 5.1: Create DataFrames D1, D2, D3 based on three countries
D1 = master_frame[(master_frame['country_code'] == 'USA') &
             (master_frame['raised_amount_usd'] >= 5) &
             (master_frame['raised_amount_usd'] <= 15)]
D1_gr = D1[['raised_amount_usd','main_sector']].groupby('main_sector').agg(['sum', 'count']).rename(
    columns={'sum':'Total_amount','count' : 'Total_count'})
D1 = D1.merge(D1_gr, how='left', on ='main_sector')
D1.head()

/home/pariskhit.tomer/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,company_permalink,raised_amount_usd,name,category_list,country_code,main_sector,"(raised_amount_usd, Total_amount)","(raised_amount_usd, Total_count)"
0,/organization/0xdata,8.900000,H2O.ai,Analytics,USA,"Social, Finance, Analytics, Advertising",23807.376964,2714
1,/organization/1-mainstream,5.000000,1 Mainstream,Apps,USA,"News, Search and Messaging",13959.567428,1582
2,/organization/128-technology,11.999347,128 Technology,Service Providers,USA,Others,26321.007002,2950
3,/organization/1366-technologies,15.000000,1366 Technologies,Manufacturing,USA,Manufacturing,7258.553378,799
4,/organization/1366-technologies,5.000000,1366 Technologies,Manufacturing,USA,Manufacturing,7258.553378,799

In [50]:

D2 = master_frame[(master_frame['country_code'] == 'GBR') &
             (master_frame['raised_amount_usd'] >= 5) &
             (master_frame['raised_amount_usd'] <= 15)]
D2_gr = D2[['raised_amount_usd','main_sector']].groupby('main_sector').agg(['sum', 'count']).rename(
    columns={'sum':'Total_amount','count' : 'Total_count'})
D2 = D2.merge(D2_gr, how='left', on ='main_sector')
print(D2.head())

         company_permalink  raised_amount_usd       name     category_list  \
0  /organization/365scores           5.500000  365Scores           Android
1   /organization/7digital           8.468328   7digital  Content Creators
2   /organization/7digital          10.000000   7digital  Content Creators
3      /organization/90min          15.000000      90min             Media
4      /organization/90min           5.800000      90min             Media

  country_code                              main_sector  \
0          GBR  Social, Finance, Analytics, Advertising
1          GBR                            Entertainment
2          GBR                            Entertainment
3          GBR                            Entertainment
4          GBR                            Entertainment

   (raised_amount_usd, Total_amount)  (raised_amount_usd, Total_count)
0                        1089.404014                               133
1                         482.784687                                56
2                         482.784687                                56
3                         482.784687                                56
4                         482.784687                                56

/home/pariskhit.tomer/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [51]:
D3 = master_frame[(master_frame['country_code'] == 'IND') &
             (master_frame['raised_amount_usd'] >= 5) &
             (master_frame['raised_amount_usd'] <= 15)]
D3_gr = D3[['raised_amount_usd','main_sector']].groupby('main_sector').agg(['sum', 'count']).rename(
    columns={'sum':'Total_amount','count' : 'Total_count'})
D3 = D3.merge(D3_gr, how='left', on ='main_sector')
print(D3.head())

/home/pariskhit.tomer/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

                company_permalink  raised_amount_usd            name  \
0             /organization/-fame          10.000000           #fame
1  /organization/21diamonds-india           6.369507      21Diamonds
2    /organization/a-little-world           6.410000  A LITTLE WORLD
3    /organization/adlabs-imagica           8.180000  Adlabs Imagica
4             /organization/agile           5.740000           Agile

   category_list country_code                              main_sector  \
0          Media          IND                            Entertainment
1     E-Commerce          IND                                   Others
2        Finance          IND  Social, Finance, Analytics, Advertising
3  Entertainment          IND                            Entertainment
4        Finance          IND  Social, Finance, Analytics, Advertising

   (raised_amount_usd, Total_amount)  (raised_amount_usd, Total_count)
0                         280.830000                                33
1                        1013.409507                               110
2                         550.549550                                60
3                         280.830000                                33
4                         550.549550                                60

In [52]:
# Subtask 5.2: Sector-wise Investment Analysis

#Total number of investments (count)
print(D1.raised_amount_usd.count())

12012

In [53]:
print(D2.raised_amount_usd.count())

619

In [54]:

print(D3.raised_amount_usd.count())

328

In [55]:

#Total amount of investment (USD)
print(round(D1.raised_amount_usd.sum(), 2))

107318.29

In [56]:

print(round(D2.raised_amount_usd.sum(), 2))

5365.23

In [57]:

print(round(D3.raised_amount_usd.sum(), 2))

2949.54

In [58]:
#Top sector, second-top, third-top for D1 (based on count of investments)
#Number of investments in the top, second-top, third-top sector in D1
print(D1_gr)

                                        raised_amount_usd
                                             Total_amount Total_count
main_sector
Automotive & Sports                           1454.104361         167
Cleantech / Semiconductors                   21206.628192        2300
Entertainment                                 5099.197982         591
Health                                        8211.859357         909
Manufacturing                                 7258.553378         799
News, Search and Messaging                   13959.567428        1582
Others                                       26321.007002        2950
Social, Finance, Analytics, Advertising      23807.376964        2714

In [59]:
#Top sector, second-top, third-top for D2 (based on count of investments)
#Number of investments in the top, second-top, third-top sector in D2
print(D2_gr)

                                        raised_amount_usd
                                             Total_amount Total_count
main_sector
Automotive & Sports                            167.051565          16
Cleantech / Semiconductors                    1150.139665         128
Entertainment                                  482.784687          56
Health                                         214.537510          24
Manufacturing                                  361.940335          42
News, Search and Messaging                     615.746235          73
Others                                        1283.624289         147
Social, Finance, Analytics, Advertising       1089.404014         133

In [60]:
#Top sector, second-top, third-top for D2 (based on count of investments)
#Number of investments in the top, second-top, third-top sector in D3
print(D3_gr)

                                        raised_amount_usd
                                             Total_amount Total_count
main_sector
Automotive & Sports                            136.900000          13
Cleantech / Semiconductors                     165.380000          20
Entertainment                                  280.830000          33
Health                                         167.740000          19
Manufacturing                                  200.900000          21
News, Search and Messaging                     433.834545          52
Others                                        1013.409507         110
Social, Finance, Analytics, Advertising        550.549550          60

In [65]:
#For the top sector USA , which company received the highest investment?
company = D1[D1['main_sector']=='Others']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                           raised_amount_usd
company_permalink
/organization/virtustream               64.3

In [66]:

#For the second top sector USA , which company received the highest investment?
company = D1[D1['main_sector']=='Social, Finance, Analytics, Advertising']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                           raised_amount_usd
company_permalink
/organization/shotspotter          67.933006

In [67]:
#For the top sector GBR , which company received the highest investment?
company = D2[D2['main_sector']=='Others']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                              raised_amount_usd
company_permalink
/organization/electric-cloud               37.0

In [68]:
#For the second top sector GBR , which company received the highest investment?
company = D2[D2['main_sector']=='Social, Finance, Analytics, Advertising']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                                     raised_amount_usd
company_permalink
/organization/celltick-technologies               37.5

In [69]:

#For the top sector IND , which company received the highest investment?
company = D3[D3['main_sector']=='Others']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                            raised_amount_usd
company_permalink
/organization/firstcry-com               39.0

In [70]:
#For the second top sector IND , which company received the highest investment?
company = D3[D3['main_sector']=='News, Search and Messaging']
company = company.pivot_table(values = 'raised_amount_usd', index = 'company_permalink', aggfunc = 'sum')
company = company.sort_values(by = 'raised_amount_usd', ascending = False).head()
print(company.head(1))

                                                raised_amount_usd
company_permalink
/organization/gupshup-technology-india-pvt-ltd               33.0